body {
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bold;
}

header p {
  margin: 0;
  font-size: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;  /* Increase padding to give more space inside the card */
  width: 100%;
  max-width: 800px;  /* Set a max-width to control the width of the card */
}

.card h2 {
  font-size: 2.5em;
  color: #4CAF50;
  margin-bottom: 20px;
}

.card p, .card ul {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
